@import "tailwindcss";


@theme{
    --color-mybg:#000006;
    --color-primaryColor:#CD1818;
    --color-secondaryColor:'white';
    --text-heading:22px;
    --text-mediumScreen:24px;
    --text-screenSize:18px;
    --text-largeScreen:35px;
}
.bobo{
    background-image: linear-gradient(to right, #CD1818 ,#000006);
}
.poly{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.headbg{
    background-image: url(UI/HomeComponent/HomePictures/34t.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-color: #0000063f;
    background-blend-mode: darken;


}
.largebg{
    background-image: url(UI/HomeComponent/HomePictures/lady.png);
    background-repeat: none;
    background-size: 100% 100%;
}
